Flask==3.0.0
Flask-SQLAlchemy==3.0.3
Flask-RESTful==0.3.9
Flask-Security-Too==5.3.2
Flask-Excel==0.0.7
Flask-Caching==2.1.0
email-validator==2.1.0.post1
httplib2==0.22.0
matplotlib==3.7.0
bcrypt==4.0.1
